
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="rightpart">
    <div class="dashBx">
        <div class="clearfix"></div>
        <img src="~/Content/Images/PmtRecon.PNG" style="width:99%;"/>
    </div>
</div>
