
@{
    ViewBag.Title = "Dashboard835";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="rightpart">
    <div class="dashBx">
        <div class="clearfix"></div>
        <img src="~/Content/Images/835Dasboard.PNG" style="width:99%;" />
    </div>
</div>
